<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta descr="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta descr="vaadin-version" content="8.0.5">
  <meta descr="package-mapping" content="com_vaadin_tapio_googlemaps:com.vaadin.tapio.googlemaps">
 </head>
 <body>
  <vaadin-vertical-layout size-full margin="false"></vaadin-vertical-layout>
 </body>
</html>