<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;apptheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout spacing="false" id="main-holder" size-full>
   <vaadin-date-field id="date-select" _id="dateSelect"></vaadin-date-field>
   <vaadin-horizontal-layout spacing="false" size-full _id="timeLayout" :expand>
    <vaadin-vertical-layout spacing="false" size-full _id="leftTimeLayout" :expand></vaadin-vertical-layout>
    <vaadin-vertical-layout spacing="false" size-full _id="rightTimeLayout" :expand></vaadin-vertical-layout>
   </vaadin-horizontal-layout>
   <vaadin-css-layout _id="buttonsLayout" :middle :center>
    <vaadin-button icon="fonticon://Vaadin-Icons/e75b" plain-text _id="acceptButton">
      Готово 
    </vaadin-button>
    <vaadin-button icon="fonticon://Vaadin-Icons/e7ad" plain-text _id="cancelButton">
      Отмена 
    </vaadin-button>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>